*.sublime-project
*.sublime-workspace
*.sln
*.csproj
*.zip
.vs/
Temp/
Library/
ProjectSettings/
Assets/UnityTestTools*
obj/
.vscode
.idea
Assets/Plugins/Editor.meta
Assets/Plugins/Editor
*.DotSettings.user

